body {
    text-align: center;
}

#searchDiv {
    width : 48%;
}

#totalCredits {
    display: inline-block;
    margin-right: 5px;
}

#totalDebits {
    display: inline-block;
    margin-left: 5px;
}